@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    margin-right: 24px;
    margin-left: 24px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .inner {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }
}

.header {
  background: #3F51B5;
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 182px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav li:not(:first-child) {
  margin-left: 40px;
}

.header__nav li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header__nav li a.is-active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #E81919;
}

.top {
  background-image: url(https://github.com/machitake/deitora2/blob/master/img/mainvisual.png?raw=true);
  background-size: cover;
  height: 600px;
  width: auto;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .top {
    height: 400px;
    margin-top: 60px;
  }
}

.top .main {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.top .main h1 {
  font-size: 64px;
  margin-bottom: 32px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .top .main h1 {
    font-size: 25px;
    width: 300px;
  }
}

.top .main .read {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .top .main .read {
    font-size: 18px;
  }
}

.top .main .btn a {
  font-size: 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .top .main .btn a {
    font-size: 12px;
  }
}


.btn {
  display: inline-block;
  padding: 24px 120px;
  background-color: #3F51B5;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .btn {
    padding: 10px 50px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inner {
    margin-right: 24px;
    margin-left: 24px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .inner {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }
}

.card {
  background-color: #EFEFEF;
  width: 100%;
  height: auto;
}

.section_title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 100px;
  position: relative;
  margin-top: 0;
}

.section_title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #3F51B5;
}

@media (max-width: 767px) {
  .section_title::after {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 767px) {
  .section_title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.card-inner {
  background-color: #FFFFFF;
  width: 385px;
  height: auto;
  padding-top: 16px;
  margin-bottom: 24px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-inner {
    max-width: 350px;
  }
}

.card-wrapper {
  max-width: 352px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-wrapper {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .card-wrapper {
    max-width: 290px;
  }
}

.card-wrapper .card-image {
  background-color: #DDDDDD;
  height: 195px;
}

.card-wrapper p {
  color: #6F7579;
}

.card-wrapper .card-title {
  font-size: 20px;
}

.card-wrapper .card-text {
  font-size: 16px;
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 120px;
}


.main-visual {
  height: 600px;
  width: 100%;
  background: url(../../img/mainvisual.png) no-repeat center center/cover;
  position: relative;
  margin-top: 100px;
}

@media (max-width: 767px) {
  .main-visual {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 36px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;
}

@media (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
    margin-top: 10px;
  }
}

.main-visual__button {
  margin-top: 36px;
}

@media (max-width: 767px) {
  .main-visual__button {
    margin-top: 28px;
  }
}

.main-visual__button a {
  display: inline-block;
  width: 390px;
  max-width: 100%;
  height: 83px;
  line-height: 83px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #3F51B5;
  border-radius: 12px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-decoration: none;
}

@media (max-width: 767px) {
  .main-visual__button a {
    width: 280px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

.section_title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
}

.section_title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 60px;
  height: 4px;
  background-color: #3F51B5;
}

@media (max-width: 767px) {
  .section_title::after {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 767px) {
  .section_title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.news {
  padding: 100px 0 120px;
  background: #fff;
}

@media (max-width: 767px) {
  .news {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.news_items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .news_items {
    margin-top: 40px;
  }
}

.news_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 12px;
}

.news_item:not(:first-child) {
  border-top: 1px solid #707070;
}

@media (max-width: 767px) {
  .news_item {
    display: block;
  }
}

.news_meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 185px;
}

.news_data {
  width: 105px;
  padding-top: 3px;
}

.news_label a {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  background: #666;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
}

.news_label a.is_blue {
  background: #3F51B5;
}

.news_label a.is_red {
  background: #E81919;
}

.news_title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;
}

.news_title a {
  line-height: 1.25;
}

@media (max-width: 767px) {
  .news_title {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 5px;
  }
}

.news_more {
  margin-top: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .news_more {
    margin-top: 30px;
  }
}

.news_more a {
  text-decoration: none;
  color: #E81919;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}

.news_more a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../../img/news-arrow.png) no-repeat center center/contain;
}

.price {
  background: #EFEFEF;
  padding-top: 100px;
  padding-bottom: 80px;
}

.price_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .price_content {
    display: block;
    margin-top: 40px;
  }
}

.price_image {
  padding-right: 40px;
  width: 37.83333%;
}

@media (max-width: 767px) {
  .price_image {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

.price_image img {
  max-height: 286px;
}

.price_table {
  width: 59%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .price_table {
    width: 100%;
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  border: solid 1px #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;
}

.table th,
.table td {
  border: solid 1px #707070;
  padding: 0 24px;
  height: 58px;
  vertical-align: middle;
}

.table th {
  background: #999999;
  color: #fff;
  text-align: center;
}

.table th:nth-child(1) {
  width: 172px;
}

@media (max-width: 767px) {
  .table th:nth-child(1) {
    width: 112px;
  }
}

.table td {
  text-align: right;
}

.table strong {
  color: #E81919;
  line-height: 1.2;
}

.table span {
  font-size: 13px;
  display: block;
  line-height: 1.2;
}

.price_attention {
  font-size: 14px;
  margin-top: 10px;
}

.price_attention a {
  font-weight: 700;
}

.access {
  padding-top: 100px;
  padding-bottom: 60px;
}

.access_map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .access_map {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 50%;
  position: relative;
}

.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access_info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;
}

.access_info:not(:first-child) {
  margin-top: 16px;
}

.access_info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access_info-row dt {
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: 104px;
}

.access_info-row dd {
  margin: 0;
  padding: 0;
  width: calc(100% - 104px);
}

.access_button {
  text-align: center;
  margin-top: 30px;
}

.access_button a {
  text-decoration: none;
  display: inline-block;
  width: 304px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  padding: 16px 12px;
  border-radius: 8px;
  background: #3F51B5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}

.access_button a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
  background: url(../../img/button-arrow.png) no-repeat center center/contain;
}

.contact {
  background: #efefef;
  padding-top: 100px;
  padding-bottom: 80px;
}

.contact_form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;
}

@media (max-width: 767px) {
  .contact_form {
    margin-top: 40px;
    padding: 24px;
  }
}

.contact-form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-form_row {
    display: block;
  }
}

.contact-form_row:not(:first-child) {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .contact-form_row:not(:first-child) {
    margin-top: 30px;
  }
}

.contact-form_label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  .contact-form_label {
    width: 100%;
  }
}

.contact-form_label label {
  font-weight: 700;
}

.contact-form_label label.is_required {
  display: inline-block;
  position: relative;
}

.contact-form_label label.is_required::after {
  content: "必須";
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  color: #fff;
  background: #E81919;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  padding: 3px 8px;
  line-height: 1;
}

@media (max-width: 767px) {
  .contact-form_label label.is_required::after {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: calc(100% + 6px);
    width: 44px;
  }
}

.contact-form_input {
  width: calc(100% - 160px);
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .contact-form_input {
    width: 100%;
    margin-top: 5px;
  }
}

.contact-form_input [type="text"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form_input [type="email"] {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
}

.contact-form_input select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  padding: 12px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  background: #fff url(../../img/select-arrow.png) no-repeat right 12px center/17px 14px;
}

.contact-form_input textarea {
  height: 240px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #707070;
  background: #fff;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  width: 100%;
  resize: none;
}

.contact-form_radio {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .contact-form_radio {
    margin-top: 24px;
  }
}

.contact-form_radio [type="radio"] {
  display: none;
}

.contact-form_radio span {
  display: inline-block;
  padding-left: 26px;
  position: relative;
  margin-right: 36px;
}

@media (max-width: 767px) {
  .contact-form_radio span {
    margin-bottom: 8px;
    margin-right: 20px;
  }
}

.contact-form_radio span::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.contact-form_radio span::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #3F51B5;
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}

.contact-form_radio [type="radio"]:checked + span::after {
  display: block;
}

.contact-form_check {
  margin-top: 63px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form_check {
    margin-top: 40px;
  }
}

.contact-form_check [type="checkbox"] {
  display: none;
}

.contact-form_check span {
  display: inline-block;
  padding-left: 49px;
  position: relative;
}

.contact-form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
}

.contact-form_check span::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent url(../../img/checkbox.png) no-repeat center center/contain;
  display: none;
}

.contact-form_check span a {
  font-weight: 700;
}

.contact-form_check [type="checkbox"]:checked + span::after {
  display: block;
}

.contact-form_button {
  margin-top: 30px;
  text-align: center;
}

.contact-form_button [type="submit"] {
  background: #3F51B5 url(../../img/button-arrow.png) no-repeat right 12px center/17px 16px;
  width: 304px;
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 14px 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border: none;
  font-size: inherit;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  background: linear-gradient(to bottom, #666666, #333333);
  padding: 60px 0 24px;
  color: #fff;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 14px;
  }
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer_content {
    display: block;
  }
}

.footer_left {
  width: 36%;
}

@media (max-width: 767px) {
  .footer_left {
    width: 100%;
  }
}

.footer_logo img {
  width: 205px;
}

.footer_address,
.footer_tell {
  font-size: 14px;
}

.footer_address {
  margin-top: 32px;
}

@media (max-width: 767px) {
  .footer_address {
    margin-top: 13px;
  }
}

.footer_tell {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .footer_tell {
    margin-top: 6px;
  }
}

.footer_center {
  width: 48%;
}

@media (max-width: 767px) {
  .footer_center {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer_nav li:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .footer_nav li:not(:first-child) {
    margin-left: 20px;
  }
}

.footer_nav a {
  font-size: 14px;
}

.footer_right {
  width: 16%;
}

@media (max-width: 767px) {
  .footer_right {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 767px) {
  .footer_sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer_sns li:not(:first-child) {
  margin-left: 16px;
}

.footer_sns img {
  width: 30px;
}

.footer_copy {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 767px) {
  .footer_copy {
    margin-top: 22px;
  }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

@media (max-width: 767px) {
  .to-top {
    right: 12px;
    bottom: 12px;
  }
}

.to-top img {
  width: 60px;
}

@media (max-width: 767px) {
  .to-top img {
    width: 40px;
  }
}
