$color-main: #3F51B5;
$color-accent: #E81919;
$color-text: #333333;
$layout-width-inner: 1200px;


//ブレークポイント
$breakpoints: (
  'sp': '(max-width: 767px)', //767px以下（スマホ）用の表示
  'tab': '(min-width: 768px) and (max-width: #{$layout-width-inner})',//767px以下かつ$layout-width-inner以下
  'pc': '(min-width: #{$layout-width-inner})', //$layout-width-inner以上（タブレット・PC）用の表示
) ;

//メディアクエリ
@mixin mq($breakpoint: sp) {
      @media #{map-get($breakpoints, $breakpoint)} {
        @content;
      }
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    color: $color-text;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;//画像下の余白をなくす
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;//親要素の色を引き継ぐ
  text-decoration: none;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('tab') {
    margin-right: 24px;
    margin-left: 24px;
    width: auto;
  }

  @include mq('sp') {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }
}


.header {
  background: $color-main;
  height: 100px;
  position: fixed;
  width: 100%;
  box-shadow: 0 3px 3px rgba(#000,0.16);
  z-index: 100;
  top: 0;
  left: 0;

  @include mq('sp') {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;

  @include mq('sp') {
    width: 182px;
  }

  img {
    display: block;
  }
}

.header__nav {
  display:flex;
  align-items: center;
  margin-left: auto;

  @include mq('sp') {
    display: none;
  }

  li {
    &:not(:first-child) { //一番最初の要素だけ適用しない
      margin-left: 40px;
    }
    a {
      color: #fff;
      text-decoration: none;
      position: relative;
      
      

      &.is-active {
        &::after {
          content: "";
          position: absolute;
          bottom: -8px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $color-accent;
        }
      }
    }
  }
}

//  top  //

.top {
  background-image: url(../../img/mainvisual.png);
  background-size: cover;
  height: 600px;
  width: auto;
  position: relative;
  margin-top: 100px;

  @include mq(sp) {
    height: 400px;
    margin-top: 80px;
  }

  .main {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 64px;
      margin-bottom: 32px;
      font-weight: bold;

      @include mq(sp) {
        font-size: 25px;
        width: 300px;
      }
    }

    .read {
      font-size: 24px;
      font-weight: bold;

      @include mq(sp) {
        font-size: 18px;
      }
    }

    .btn {
      a {
        font-size: 24px;
        color: #fff;

        @include mq(sp) {
          font-size: 12px;
        }
      }
    }
  }
}


//card//

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  @include mq('tab') {
    margin-right: 24px;
    margin-left: 24px;
    width: auto;
  }

  @include mq('sp') {
    margin-right: 16px;
    margin-left: 16px;
    width: auto;
  }
}

.card {
  background-color: $color-card;
  width: 100%;
  height: auto;
  }


.section_title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 100px;
  position: relative;
  margin-top: 0;
  
    
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 60px;
      height: 4px;
      background-color: $color-main;

      @include mq('sp') {
        width: 42px;
        height: 3px;
      }
      
    }

    @include mq('sp') {
      font-size: 26px;
      padding-bottom: 18px;
    }
  }
  

.card-inner {
  background-color: #FFFFFF;
  width: 385px;
  height: auto;
  padding-top: 16px;
  margin-bottom: 24px;

  @include mq("tab") {
    max-width: 350px;
  }

  

}


.card-wrapper {
  max-width: 352px;;
  margin: 0 auto;

  @include mq("tab") {
    max-width: 300px;
  }

  @include mq("sp") {
    max-width: 290px;
  }

  .card-image {
    background-color: #DDDDDD;
    height: 195px;
    
  }

  p {
    color: #6F7579;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 16px;
  }
}


.card-list {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  padding-top: 90px;
  padding-bottom: 120px;
}



///main///

.main-visual {
  height: 600px;
  width: 100%;
  background: url(https://github.com/machitake/deitora2/blob/master/img/mainvisual.png?raw=true) no-repeat center center / cover;
  position: relative;
  margin-top: 100px;

  @include mq('sp') {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.main-visual__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;

  @include mq('sp') {
    font-size: 36px;
  }
}

.main-visual__lead {
  font-size: 24px;
  font-weight: 700;
  margin-top: 24px;

  @include mq('sp') {
    font-size: 18px;
    margin-top: 10px;
  }
}

.main-visual__button {

  margin-top: 36px;

  @include mq('sp') {
    margin-top: 28px;
  }

  a {
    display: inline-block;
    width: 390px;
    max-width: 100%;
    height: 83px;
    line-height: 83px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: $color-main;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(#000,0.16);
    text-decoration: none;

    @include mq('sp') {
      width: 280px;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
    }

  }
}


//news

.section_title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 12px;
  position: relative;
  
    
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 60px;
      height: 4px;
      background-color: $color-main;

      @include mq('sp') {
        width: 42px;
        height: 3px;
      }
      
    }

    @include mq('sp') {
      font-size: 26px;
      padding-bottom: 18px;
    }
  }



.news {
  padding: 100px 0 120px;
  background: #fff;

  @include mq('sp') {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  }

.news_items {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.news_item {
  display: flex;
  padding: 20px 0 12px;

  &:not(:first-child) {
    border-top: 1px solid #707070;
  }

  @include mq ('sp') {
    display: block;
  }
}

.news_meta {
  display: flex;
  width: 185px;
}

.news_data {
  width: 105px;
  padding-top: 3px;
}

.news_label {

  a {
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    background: #666;
    border-radius: 4px;
    font-weight: 700;
    text-decoration: none;

    &.is_blue {
      background: $color-main;
    }
  
    &.is_red {
      background: $color-accent;
    }
  }


}

.news_title {
  width: calc(100% - 185px);
  padding-left: 20px;
  padding-top: 3px;

  a {
    line-height: (20 / 16);
  }

  @include mq('sp') {
    width: 100%;
    padding-top: 0;
    padding-left: 0;
    margin-top: 5px;
  }
}

.news_more {
  margin-top: 60px;
  text-align: center;

  @include mq('sp') {
    margin-top: 30px;
  }

  a {
    text-decoration: none;
    color: $color-accent;
    font-weight: 700;
    padding-right: 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 11px;
      background: url(../../img/news-arrow.png)no-repeat center center / contain;
    }
  }
}

//price

.price {
  background: #EFEFEF;
  padding-top: 100px;
  padding-bottom: 80px;
}


.price_content {
  display: flex;
  margin-top: 80px;

  @include mq('sp') {
    display: block;
    margin-top: 40px;
  }
}


.price_image {

  padding-right: 40px;
  width: 454 / 1200 * 100%;

  @include mq('sp') {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  
  img {
    max-height: 286px;
  }
}

.price_table {
  width: (172 + 268 + 268) / 1200 * 100%; //レスポンシブに対応させるため
  margin-left: auto; //左の余白を開ける為に右から押す

  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  }
}

.table {
  border-collapse: collapse;
  border: solid 1px #707070;
  background: #fff;
  font-weight: 700;
  width: 100%;
  table-layout: fixed;

  th, 
  td {
    border: solid 1px #707070;
    padding: 0 24px;
    height: 58px;
    vertical-align: middle;
  }
  
  th {
    background: #999999;
    color: #fff;
    text-align: center;

    &:nth-child(1) {
      width: 172px;

      @include mq('sp') {
        width: 112px;
      }
    }
  }  

  td {
    text-align: right;
  }

  strong {
    color: #E81919;
    line-height: 1.2;
  }

  span {
    font-size: 13px;
    display: block;  //改行
    line-height: 1.2;
  }
}

.price_attention {
  font-size: 14px;
  margin-top: 10px;

  a {
    font-weight: 700;
  }
}


///access 
.access {
  padding-top: 100px;
  padding-bottom: 60px;
}

.access_map {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;

  @include mq('sp') {
    margin-top: 40px;
  }
}

.iframe-wrap {
  width: 100%;
  padding-top: 400 / 800 * 100%;//縦横比率
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.access_info {
  margin: 16px auto 0;
  width: 800px;
  max-width: 100%;

  &:not(:first-child) {
    margin-top: 16px;
  }
}

.access_info-row {
  display: flex;
  align-items: center;

  dt {
    margin: 0;
    padding: 0;
    font-weight: 700;
    width: 104px;
  }

  dd {
    margin: 0;
    padding: 0;
    width: calc(100% - 104px);
  }
}

.access_button {
  text-align: center;
  margin-top: 30px;

  a {
    text-decoration: none;
    display: inline-block;
    width: 304px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 16px 12px;
    border-radius: 8px;
    background: $color-main;
    box-shadow: 0 3px 6px rgba(#000,  0.16);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);
      width: 17px;
      height: 16px;
      background: url(../../img/button-arrow.png) no-repeat center center / contain;
    }
  }
}

// .access_youtube {
//   margin-top: 40px;
//   margin-bottom: 40px;
// }


//contact

.contact {
  background: #efefef;
  padding-top: 100px;
  padding-bottom: 80px;
}

.contact_form {
  margin: 80px auto 0;
  width: 800px;
  max-width: 100%;
  background: #fff;
  padding: 60px;

  @include mq('sp') {
    margin-top: 40px;
    padding: 24px;
  }
}


.contact-form_row {
  display: flex;

  @include mq('sp') {
    display: block;
  }

  &:not(:first-child) {
    margin-top: 60px;

    @include mq('sp') {
      margin-top: 30px;
    }
  }
}

.contact-form_label {
  width: 160px;
  padding: 5px 0 0;
  margin: 0;

  @include mq('sp') {
    width: 100%;
  }

  label {
    font-weight: 700;

    &.is_required {
      display: inline-block;
      position: relative;

      &::after {
        content: "必須";
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        color: #fff;
        background: $color-accent;
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
        text-align: center;
        padding: 3px 8px;
        line-height: 1;

        @include mq('sp') {
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 6px);
          width: 44px;
        }
      }
    }
  }
}

.contact-form_input {

  width: calc(100% - 160px);
  margin: 0;
  padding: 0;

  @include mq('sp') {
    width: 100%;
    margin-top: 5px;
  }

  [type="text"] {
    box-shadow: none;//初期化
    border: 1px solid #707070;//初期化
    background: #fff;//初期化
    padding: 10px 16px;//初期化
    appearance: none;//初期化
    border-radius: 0;//初期化
    color: inherit;//初期化
    font-family: inherit;//初期化
    font-size: 14px;//初期化
    width: 100%;
  }

  [type="email"] {
    box-shadow: none;//初期化
    border: 1px solid #707070;//初期化
    background: #fff;//初期化
    padding: 10px 16px;//初期化
    appearance: none;//初期化
    border-radius: 0;//初期化
    color: inherit;//初期化
    font-family: inherit;//初期化
    font-size: 14px;//初期化
    width: 100%;

  }

  select {
    box-shadow: none;//初期化
    border: 1px solid #707070;//初期化
    padding: 12px 16px;//初期化
    appearance: none;//初期化
    border-radius: 0;//初期化
    color: inherit;//初期化
    font-family: inherit;//初期化
    font-size: 14px;//初期化
    width: 100%;
    background: #fff url(../../img/select-arrow.png)no-repeat right 12px center/ 17px 14px;
  }

  textarea {
    height: 240px;
    box-shadow: none;//初期化
    border: 1px solid #707070;//初期化
    background: #fff;//初期化
    padding: 10px 16px;//初期化
    appearance: none;//初期化
    border-radius: 0;//初期化
    color: inherit;//初期化
    font-family: inherit;//初期化
    font-size: 14px;//初期化
    width: 100%;
    resize: none;
  }
}

.contact-form_radio {
  margin-top: 32px;

  @include mq('sp') {
    margin-top: 24px;
  }

  [type="radio"] {
    display: none;

  }

    span {
      display: inline-block;
      padding-left: 26px;
      position: relative;
      margin-right: 36px;

      @include mq('sp') {
        margin-bottom: 8px;
        margin-right: 20px;
      }
      

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #707070;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        border-radius: 50%;
      }

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: $color-main;
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        display: none;
      }
    }

    [type="radio"]:checked + span {
      &::after {
        display: block;
      }
    }
}

.contact-form_check{
  margin-top: 63px;
  text-align: center;

  @include mq('sp') {
    margin-top: 40px;
  }

  [type="checkbox"] {
    display: none;
  }

  span {
    display: inline-block;
    padding-left: 49px;
    position: relative;

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      border: 1px solid #707070;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
    }

    &::after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);  
      background: transparent url(../../img/checkbox.png)no-repeat center center / contain;
      display: none;
    }

    a{
      font-weight: 700;
    }
  }

  [type="checkbox"]:checked + span {
    &::after {
      display: block;
    }
  }
}

.contact-form_button {
  margin-top: 30px;
  text-align: center;

  [type="submit"] {
    background: $color-main url(../../img/button-arrow.png)no-repeat right 12px center / 17px 16px;
    width: 304px;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    padding: 14px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(#000,0.16);
    appearance: none;
    font-family: inherit;
    border: none;
    font-size: inherit;
  }
}


///footer

.footer {
  background: linear-gradient(to bottom,#666666,#333333);
  padding: 60px 0 24px;
  color: #fff;

    @include mq('sp') {
      padding-top: 30px;
      padding-bottom: 14px;
    }
}

.footer_content {
  display: flex;

    @include mq('sp') {
      display: block;
    }
}

.footer_left {
  width: 36%;

    @include mq('sp') {
      width: 100%;
    }
}

.footer_logo {

  img {
    width: 205px;
  }
}

.footer_address,
.footer_tell {
  font-size: 14px;
}

.footer_address {
  margin-top: 32px;

    @include mq('sp') {
      margin-top: 13px;
    }
}

.footer_tell {
  margin-top: 16px;

    @include mq('sp') {
      margin-top: 6px;
    }
}

.footer_center {
  width: 48%;

  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_nav {
  display: flex;
  justify-content: end;
  
  li {
    &:not(:first-child) {
      margin-left: 40px;

      @include mq('sp') {
        margin-left: 20px;
      }
    }
  }

  a {
    font-size: 14px;
  }
}

.footer_right {
  width: 16%;

  @include mq('sp') {
    width: 100%;
    margin-top: 24px;
  }
}

.footer_sns {
  display: flex;
  justify-content: end;

    @include mq('sp') {
      justify-content: center;
    }

  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  img {
    width: 30px;
  }
}

.footer_copy {
  margin-top: 46px;
  font-size: 14px;
  text-align: center;

    @include mq('sp') {
      margin-top: 22px;
    }
}

.to-top {
  position: fixed;
  right: 24px;
  bottom: 24px;

    @include mq('sp') {
      right: 12px;
      bottom: 12px;
    }

  img {
    width: 60px;

      @include mq('sp') {
        width: 40px;
      }
  }
}

